[Unit]
Description=Exporter for Wireguard to Prometheus
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/prometheus_exporters/prometheus-exporters/wireguard
ExecStart=/usr/bin/python3 /home/prometheus_exporters/prometheus-exporters/wireguard/wireguard.py
Restart=on-failure

[Install]
WantedBy=multi-user.target